/* reset */
html {
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h2 {
    font-size: 1.2em;
}

address {
    font-style: normal;
}

a {
    color: #0670c6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* fonts */
@font-face {
    font-family: "Swiss";
    src: url("https://static.opendi.com/ng/fonts/swiss_bold_italic-webfont.eot");
    src: url("https://static.opendi.com/ng/fonts/swiss_bold_italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("https://static.opendi.com/ng/fonts/swiss_bold_italic-webfont.woff2") format("woff2"),
         url("https://static.opendi.com/ng/fonts/swiss_bold_italic-webfont.woff") format("woff"),
         url("https://static.opendi.com/ng/fonts/swiss_bold_italic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;

}

@font-face {
    font-family: "Swiss";
    src: url("https://static.opendi.com/ng/fonts/swiss_bold-webfont.eot");
    src: url("https://static.opendi.com/ng/fonts/swiss_bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("https://static.opendi.com/ng/fonts/swiss_bold-webfont.woff2") format("woff2"),
         url("https://static.opendi.com/ng/fonts/swiss_bold-webfont.woff") format("woff"),
         url("https://static.opendi.com/ng/fonts/swiss_bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Swiss";
    src: url("https://static.opendi.com/ng/fonts/swiss_italic-webfont.eot");
    src: url("https://static.opendi.com/ng/fonts/swiss_italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("https://static.opendi.com/ng/fonts/swiss_italic-webfont.woff2") format("woff2"),
         url("https://static.opendi.com/ng/fonts/swiss_italic-webfont.woff") format("woff"),
         url("https://static.opendi.com/ng/fonts/swiss_italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Swiss";
    src: url("https://static.opendi.com/ng/fonts/swiss_roman-webfont.eot");
    src: url("https://static.opendi.com/ng/fonts/swiss_roman-webfont.eot?#iefix") format("embedded-opentype"),
         url("https://static.opendi.com/ng/fonts/swiss_roman-webfont.woff2") format("woff2"),
         url("https://static.opendi.com/ng/fonts/swiss_roman-webfont.woff") format("woff"),
         url("https://static.opendi.com/ng/fonts/swiss_roman-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* general */
body {
    background: url(https://static.opendi.com/ng/images/bg-texture.jpg) #fff;
    font-family: "Swiss", Arial;
    font-weight: 400;
    font-size: 14px;
}

.page-wrapper {
    max-width: 970px;
    margin: auto;
}

.box {
    padding: 15px 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 2px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
}

/* header */
header {
    margin-bottom: 10px;
}

.header-logo,
.header-text {
    display: inline-block;
    vertical-align: middle;
}

.header-text {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin: -4px 0 0 4px;
}

.header-text .black {
    font-weight: 700;
    color: #333;
}

.header-text .blue {
    margin-left: -4px;
    color: #0670c6;
}

.header-text .small {
    font-size: 0.6em;
    color: #999;
    font-weight: 400;
    letter-spacing: normal;
}

/* hero image and text */
.hero-img,
.hero-text {
    display: block;
}

.hero-img img {
    width: 100%;
    height: auto;
}

.hero-text {
    font-size: 40px;
    color: #333;
    font-weight: 300;
}

.hero-text h1 {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .hero-img,
    .hero-text {
        display: inline-block;
        vertical-align: top;
    }

    .hero-img {
        margin-left: 40px;
    }
    
    .hero-text {
        margin-left: 60px; 
    }
}

/* teaser */
.teaser {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .teaser {
        flex-direction: row;
    }
    
    .teaser-item {
        width: 32%;
    }
    
    .teaser-item img {
        width: 100%;
    }
}

/* opendi links */
.links ul {
    columns: 1;
}

@media screen and (min-width: 768px) {
    .links ul {
        columns: 4;
    }
}

.links li {
    margin-bottom: 5px;
}

/* address */
.address-img img {
    width: 100%;
    height: auto;
}

/* footer */
footer {
    margin: 10px 0;
    font-size: 0.75em;
    text-align: center;
}

footer,
footer a {
    color: #999;
}
