<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="google-site-verification" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Opendi International AG</title>
        <meta name="language" content="de">
        <meta name="title" content="Opendi International AG">
        <meta name="description" content="Welcome to Opendi International AG.">

        <meta property="og:title" content="Opendi International AG" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="www.opendi.com" />
        <meta property="og:image" content="./static/karte.png" />
        <meta property="og:description" content="Welcome to Opendi International AG." />

        <link rel="stylesheet" type="text/css" href="./static/style.css?ts={{site.time | date: '%s'}}">
    </head>
    <body>
        <div class="page-wrapper">
            <header>
                <div class="header-logo">
                    <img src="http://static.opendi.com/ng/images/logo_small.png" alt="">
                </div>
                <div class="header-text">
                    <div>
                        <span class="black">Open</span>
                        <span class="blue">Di</span>
                    </div>
                    <div class="small">International AG</div> 
                </div>
            </header>

            <main>
                {{ content }}
            </main>

            <footer>
                <span>
                    Copyright © 2021 Opendi International AG. All rights reserved.
                </span>
                <a href="impressum.html">Impressum</a>
            </footer>
        </div>
    </body>
</html>
